/* Empty. Add your own CSS if you like */
.film{
  padding: 0;
  margin: 0;
}
.film .content-top{
  background: url(../img/yuantiao.jpg) no-repeat 100%,100%;
  height: 3.2rem;
}
.film .content-top>span {
  font-size: 0.28rem;
  color: #FFF;
  padding: .25rem;
  position: relative;
  top: -0.2rem;
}
.film .content-top .list {
  border-radius: 8px;
  margin-left: 0;
}
.film .content-top .list>label {
  width: 4.56rem;
  height: .64rem;
  line-height: .64rem;
}
.film .search {
  display: inline-block;
}
.film .search input{
  font-size: .28rem;
  line-height: .28rem;
}
.divider {
  display: block;
  width: 100%;
  height: .2rem;
  background-color: #EBEBEB;
  clear: both;
}
.film .list-title {
  margin-bottom: 0;
  padding-bottom: 0;
}
.film .list-title>a {
  padding: .26rem;
  font-size: .28rem;
  height: .7rem;
  line-height: 0.2rem;
}
.film .list-title .all {
  font-size: .24rem;
  border: 0;
}
.film .hot-film,.film .coming-film {
  padding: .26rem 0;
  text-align: center;
  overflow: hidden;
  margin: 0 .1rem;
}
.film .hot-film p:last-child,.film .coming-film p:last-child,.film .cinema p{
  margin-bottom: 0;
  font-size: .18rem;
}
.film .hot-film>div {
  width: 33.33%;
  float: left;
}
.film .hot-film p{
  font-size: .26rem;
}
.film .hot-film img {
  width: 1.8rem;
  height: 2.78rem;
}
.film .coming-film p{
  font-size: .20rem;
  margin-bottom: .1rem;
}
.film .coming-film>div{
  width: 25%;
  float: left;
}
.film .coming-film img{
  width: 1.28rem;
  height: 2rem;
}
.film .cinema{
  border-bottom: 1px solid #EDEDED;
}
.film .cinema .title{
  font-size: 0.24rem;
  margin: 0 0 .18rem;
}
.film .cinema p.line{
  margin-bottom: .2rem;
  overflow: hidden;
  color: #9D9D9D;
}
.film .cinema span.left{
  float: left;
  width: 80%;
  font-size: .2rem;
}
.film .right{
  float: right;
  font-size: .16rem;
}
.film a.item-content{
  padding: .3rem .26rem;
}
.film .cinema .price{
  color: #F31131;
}
.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cinema-detail .content-top{
  padding: .3rem .26rem;
}
.cinema-detail .content-top .title{
  font-size: 0.28rem;
  margin-bottom: .15rem;
}
.cinema-detail .content-top .address{
  border-bottom: 1px solid #EDEDED;
  padding-bottom: .15rem;
  color: #9D9D9D;
  font-size: .24rem;
}
.cinema-detail .content-top .tel{
  color: #9D9D9D;
  font-size: .24rem;
}
.cinema-detail .film-title{
  display: block;
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 0;
  padding: 0 .26rem;
}
.cinema-detail .film-title .score{
  margin-left: .26rem;
  color: #EA172D;
}
.cinema-detail .film-date{
  display: block;
  height: .9rem;
  line-height: 0.87rem;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 0;
  white-space: nowrap;
}
.cinema-detail .film-date p{
  width: 2.06rem;
  display: inline-block ;
  text-align: center ;
}
/*.cinema-detail .film-date p:first-child,*/
/*.cinema-detail .film-date p:nth-child(2){*/
  /*width: 2.06rem;*/
  /*display: inline-block ;*/
  /*text-align: center ;*/
/*}*/
/*.cinema-detail .film-date p:nth-child(3),*/
/*.cinema-detail .film-date p:nth-child(4),*/
/*.cinema-detail .film-date p:nth-child(5),*/
/*.cinema-detail .film-date p:nth-child(6){*/
  /*width: .92rem;*/
  /*display: inline-block;*/
  /*text-align: center;*/
/*}*/
.cinema-detail .film-date .choose-date{
  color: #E9132B;
  border-bottom: 2px solid #E9132B;
}
.cinema-detail .wrap-img{
  height: 2.8rem;
  background-color: #D9D9D9;
  white-space: nowrap;
}
.cinema-detail .wrap-img img{
  width: 1.3rem;
  height: 2rem;
  margin: .2rem .06rem 0;
  box-sizing: content-box;
}
/*.cinema-detail .wrap-img img:first-child{*/
  /*width: 1.54rem;*/
  /*height: 2.4rem;*/
  /*border: 1px solid #FB613D;*/
/*}*/
.cinema-detail .wrap-img .choose-film{
  width: 1.54rem;
  height: 2.4rem;
  border: 1px solid #FB613D;
}
.cinema-detail .date-detail{
  height: 1.32rem;
}
.cinema-detail .date-detail p{
  width: 25%;
  float: left;
}
.cinema-detail .date-detail .btn-buy{
  min-height: .46rem;
  line-height: .46rem;
  min-width: .8rem;
}
.cinema-detail .date-detail .sub-line{
  color: #686868;
  font-size: .2rem;
}
.cinema-detail .date-detail .first-line{
  font-size: .28rem;
  font-weight: 500;
}
.cinema-detail .date-detail .black{
  color: #000;
}
.cinema-detail .date-detail .red{
  color: #E9132B;
}
.cinema-detail .date-detail .line-through{
  text-decoration: line-through;
}

.all-film .toggle-wrap{
  height: 1.04rem;
  line-height: 1.04rem;
  margin: 0 auto;
  width: 2.84rem;
}
.all-film .toggle-wrap p{
  border: 1px solid #519DD9;
  height: .6rem;
  line-height: .62rem;
  margin-top: .2rem;
  position: absolute;
  border-radius: 5px;
  box-sizing: content-box;
  width: 44%;
}
.all-film .toggle-wrap p span{
  display: inline-block;
  color: #519DD9;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
}
.all-film .toggle-wrap span:last-child{
  position: absolute;
}
.all-film .toggle-wrap .choose-hot{
   background-color: #519DD9;
   border-radius: 5px 0 0 5px;
   color: #fff;
 }
.all-film .toggle-wrap .choose-coming{
  background-color: #519DD9;
  border-radius: 0 5px 5px 0;
  color: #fff;
}
.all-film .list-hot{
  overflow: hidden;
  padding: .2rem .24rem;
}
.all-film .list-hot img{
  width: 1.3rem;
  height: 2rem;
  float: left;
}
.all-film .list-hot .right{
  float: left;
  margin-left: .22rem;
  width: 4.4rem;
  padding-top: .2rem;
}
.all-film .list-hot .right .film-desc{
  width: 3.44rem;
  height: .58rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .24rem;
}
.all-film .list-hot .right .btn-buy{
  min-height: .46rem;
  line-height: .46rem;
  padding: 0.02rem .18rem;
  float: right;
}
.all-film .list-hot .right .score{
  color: #EA172D;
  font-size: .3rem;
}

.film-detail{
  background-color: #EBEBEB;
}
.film-detail .content-top{
  height: 3rem;
  overflow: hidden;
  padding: .3rem .2rem;
  /*background: url(../img/film.jpg) no-repeat;*/
}
.film-detail .content-top img{
  width: 1.44rem;
  height: 2.46rem;
  float: left;
}
.film-detail .content-top .right{
  float: left;
  width: 4.32rem;
  margin-left: .24rem;
  color: #FFF;
}
.film-detail .content-top .right h3{
  font-size: .34rem;
  display: inline-block;
  margin-right: .18rem;
  margin-bottom: .18rem;
  color: #FFF;
}
.film-detail .content-top .right .desc{
  font-size: .2rem;
}
.film-detail .content-top .right .row-desc{
  font-size: .24rem;
  margin-bottom: 0.02rem;
}
.film-detail .content-top .row-desc .first-span{
  margin-right: .3rem;
}
.film-detail .font-desc{
  padding: .3rem .2rem;
  background-color: #fff;
}
.film-detail .font-desc .font-ellipsis{
  overflow: hidden;
  font-size: .26rem;
  box-sizing: content-box;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.film-detail video{
  background-color: #fff;
  margin-bottom: 0.05rem;
}
.film-detail .wrap-bottom{
  background-color: #fff;
}
.film-detail .wrap-bottom .title{
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid #EDEDED;
  padding-left: .26rem;
}
.film-detail .wrap-bottom .person{
  width: 25%;
  display: inline-block;
}
.film-detail .wrap-bottom .scroll{
  white-space: nowrap;
  padding: 0 .006rem;
  text-align: center;
}
.film-detail .wrap-bottom .person img{
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}
/*.blur {*/
  /*-webkit-filter: blur(10px);*/
/*}*/

.refocus {
  position: relative;
  overflow: hidden;
  height: 3rem;
}

.refocus .refocus-img img {
  width: 100%;
  height: 3rem;
}
.refocus .refocus-text-container {
  position: absolute;
  top: 0;
  width: 100%;
}
.refocus .t {
  display: table;
  height: 100%;
  width: 100%;
}
.refocus .t .tc {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.refocus .refocus-text-container {
  height: 100%;
}
.refocus .focus-in,
.refocus .focus-out {
  transition: filter 3s ease 0.5s;
  -webkit-transition: -webkit-filter 3s ease 0.5s;
}
.refocus .focus-out,
.refocus .refocus-img-bg {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
.refocus .focus-in {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.refocus .focus-in.refocus-img-bg,
.refocus .focus-out.refocus-img-bg {
  transition: all 0s ease 0s;
}

.my-film .line a{
  font-size: .28rem;
  height: .76rem;
  line-height: .1rem;
}
.my-film .line i{
  font-size: .36rem;
}
.tabs{
  height: .84rem;
}
.tab-item .icon {
  height: .34rem;
  font-size: .34rem;
}
.tabs-icon-bottom.tabs .tab-item, .tabs-icon-bottom>.tabs .tab-item,
.tabs-icon-top.tabs .tab-item, .tabs-icon-top>.tabs .tab-item {
  line-height: 0.51rem;
}

.film-search .box-none{
  width: 60%;
  margin: 2.12rem auto;
  text-align: center;
}
